@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

header {
  margin-bottom: 6%; }

.navbar {
  background-color: #040404;
  box-shadow: 2px solid rgba(0, 0, 0, 0.616);
  padding: 10px 20px; }

.navbar-brand img {
  height: auto;
  width: 70px; }

.navbar-collapse {
  background-color: rgba(0, 0, 0, 0.104);
  font-size: 1.5em;
  letter-spacing: 2px; }

.navbar-toggler-mobile {
  display: none;
  padding: 4px 12px;
  font-size: 20px;
  line-height: 1;
  background-color: transparent;
  border: 1px solid #7a7a7a;
  border-radius: 0.375rem; }

.nav-item a {
  color: #ffffff;
  fill: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3em;
  letter-spacing: 0.5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16px;
  padding-bottom: 16px; }
  .nav-item a:hover {
    color: #562540;
    font-weight: 700; }

/* ----- Linea para subrayar algunos textos -----*/
.lineaTextos {
  border-top: 1px solid #000000;
  height: 2px;
  max-width: 150px;
  padding: 0;
  margin: 20px auto 0 auto; }

.footer {
  background-color: #040404;
  font-family: "Roboto Slab", serif;
  padding-top: 30px;
  padding-bottom: 20px; }

.footerFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.redes img {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  transition: all 0.2s ease-in-out; }
  .redes img:hover {
    transform: scale(0.8); }

.copyright {
  color: #a1a1a1;
  text-align: center;
  font-weight: 500;
  padding-top: 10px; }

.lineaFooter, .lineaSeparadora {
  border-top: 1px solid #fdfdfd;
  height: 2px;
  max-width: 100%;
  padding: 0;
  margin: 20px auto 0 auto;
  padding-top: 10px;
  padding-bottom: 10px; }

/* ----- Contenedor Main ----- */
/* ----- Imagen fija ----- */
.imagenFija {
  background-image: url(../multimedia/imagenFija.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh; }

.imagenFija h3, .imagenFija a > p {
  color: #ffffff;
  text-align: center;
  justify-content: center;
  padding-top: 10%;
  text-size-adjust: 30px;
  text-shadow: 1px 1px 2px black; }

.imagenFija a {
  text-decoration: none; }

.imagenFija a > p {
  padding-top: 0;
  color: #ffffff;
  text-shadow: 1px 1px 2px #ffffff; }
  .imagenFija a > p:hover {
    transform: scale(1.1); }

.lineaFija {
  border-top: 1px solid #ffffff;
  height: 2px;
  max-width: 150px;
  padding: 0;
  margin: 20px auto 0 auto; }

/* ----- Carousel main ----- */
.carousel {
  width: 60%;
  margin: 50px auto 30px auto; }

.carousel-item {
  background-color: #00000041;
  width: 100%;
  height: 240px; }

.captionCenter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 200px; }
  .captionCenter h2 {
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black; }
  .captionCenter p {
    text-align: justify;
    margin: 5px 40px auto 40px;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black; }

/* ----- Contenedor de las Tarjetas ----- */
.textoPrincipal {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  margin: 1% auto 1% auto;
  color: #141414;
  padding-top: 30px;
  text-size-adjust: 0.5; }

.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.contenedorIndex {
  width: 420px;
  height: 410px;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 1%;
  background-color: #ffffff15;
  transition: 1s;
  border-radius: 5px; }
  .contenedorIndex:hover {
    box-shadow: 0 0 15px #0000003d; }
  .contenedorIndex img {
    width: 100%;
    height: 100%;
    transition: 3s;
    object-fit: cover; }
    .contenedorIndex img:hover {
      transform: scale(1.2);
      filter: brightness(0.3); }
  .contenedorIndex a {
    text-decoration: none; }

.imagenContenedor {
  width: auto;
  height: auto;
  overflow: hidden; }

.textoContenedor {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  padding: 3px 0;
  text-align: center; }

.tituloTratamientos {
  padding-top: 2rem; }

.d-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  padding-top: 20px; }

.item img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

.item.square {
  position: relative;
  border: 0.5px solid #717070; }

.item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.item.square.effect {
  overflow: hidden; }

.item.square.effect .info {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }

.item.square.effect .img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.item.square.effect .info h3, .item.square.effect .info .imagenFija a > p, .imagenFija .item.square.effect .info a > p {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 6px;
  background: #00000063;
  margin: 200px 0 0 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }

.item.square.effect .divContenedor:hover .img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

.botonWsp {
  display: flex;
  flex-direction: column;
  background-color: #3F1B2F;
  margin: 4% 16%;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.1em;
  border-radius: 10px; }
  .botonWsp:hover {
    background-color: #562540; }

.botonCita {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 0.5% auto; }

.imgWp {
  height: 40px;
  width: 40px;
  align-self: center;
  margin-right: 0.5rem; }

/* ----- Información ----- */
.mainMicaela {
  width: 70%;
  margin: 5% auto 5% auto;
  background-repeat: round;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10fr;
  grid-template-areas: "infoMicaela imagenMicaela";
  justify-content: center;
  align-content: center;
  background-color: #ffffff;
  gap: 40px;
  margin-top: 10%; }

/* ----- Areas de grid ----- */
.imagenMicaela {
  grid-area: imagenMicaela; }

.infoMicaela {
  grid-area: infoMicaela; }

.infoMicaela {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.tituloMicaela {
  text-align: center;
  color: #000000; }

.contenedorMicaela {
  width: 90%; }

.listaTexto {
  text-align: justify; }

.imagenMicaela {
  height: 500px;
  background-image: url(../multimedia/sobreMi.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s; }
  .imagenMicaela:hover {
    border-radius: 5%; }

/* ----- Diplomas ----- */
.textoDiplomas {
  margin: 0 10%;
  margin-bottom: 1.5rem; }
  .textoDiplomas h2 {
    padding: 0;
    text-align: center; }

.contenedorImagenes {
  max-width: 90%;
  margin: 1% auto;
  padding: 5px; }

.diplomasImg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.diplomasImg div {
  margin: 10px;
  width: 300px;
  height: 200px; }

.diplomasImg div > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 3px #7d7171;
  display: block;
  overflow: hidden;
  object-fit: cover; }

.lineaSeparadora {
  border-top: 1.5px solid #321927; }

/* ----- Productos  ----- */
.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.productoContenedor {
  width: 230px;
  height: 260px;
  margin: 1% auto;
  padding: 1%;
  box-shadow: 0 0 15px #0000003d; }
  .productoContenedor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s; }
    .productoContenedor img:hover {
      filter: contrast(1.3);
      scale: 1.1; }
  .productoContenedor a {
    text-decoration: none; }

.imagenContenedor {
  width: 100%;
  height: 85%;
  object-fit: cover; }

.textoProducto {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #000000;
  padding: 3px 0; }
  .textoProducto p {
    margin-bottom: 3px; }
    .textoProducto p:visited {
      color: #000000; }

.datos {
  display: flex;
  justify-content: center;
  padding: 4% 0;
  gap: 40px; }

iframe {
  width: 50%; }

.containerInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }

.contactoInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.fa-phone-volume {
  padding-right: 15px; }
  .fa-phone-volume:hover {
    color: #204cc6; }

.fa-envelope {
  padding-right: 15px; }
  .fa-envelope:hover {
    color: #279e17; }

.fa-location-dot {
  padding-right: 15px; }
  .fa-location-dot:hover {
    color: #e81a16; }

.lineaContacto {
  height: 2px;
  max-width: 60px;
  margin: 20px 0;
  border-top: 1px solid #000000; }

.boton .btn {
  background-color: #3F1B2F;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  box-shadow: 0px 3px 8px;
  padding: 8px 30px; }
  .boton .btn:hover {
    background-color: #3f1b2fe6;
    color: black; }

/******************* TABLET *******************/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* NAV */
  .nav-item a {
    font-size: 14px; }
  /* TRATAMIENTOS */
  .tituloTratamientos {
    padding-top: 3rem; }
  .d-grid {
    grid-template-columns: repeat(5, 1fr); }
  .item img {
    height: 280px; }
  .botonWsp {
    margin: 4% 8%; }
  .botonCita {
    font-size: 15px; }
  .imgWp {
    height: 35px;
    width: 35px; }
  /* INFORMACION */
  .mainMicaela {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr;
    grid-template-areas: "infoMicaela"  "imagenMicaela"; }
  /* CONTACTO */
  .datos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "informacion" "mapa";
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%; }
  iframe {
    width: 90%;
    order: 0; }
  .containerInfo {
    grid-area: informacion;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 15px; } }

@media only screen and (max-width: 811px) {
  /* NAV */
  .nav-item a {
    font-size: 13px; }
  .navbar-brand img {
    width: 65px; }
  /* INDEX */
  .carousel {
    width: 70%;
    margin: 60px auto 30px auto; }
  .carousel-item {
    height: 250px; }
  .captionCenter {
    font-size: 15px; }
  /*INFORMACION*/
  .contenedorImagenes {
    max-width: 95%; }
  .diplomasImg div {
    width: 250px;
    height: 150px; }
  /* CONTACTO */
  .containerInfo {
    font-size: 15px; } }

@media only screen and (max-width: 771px) {
  /* NAV */
  .nav-item a {
    font-size: 12px; }
  /* INFORMACIÓN */
  .diplomasImg div > img {
    height: 180px;
    box-shadow: 5px 5px 3px #7d7171; } }

/******************* MOBILE *******************/
@media only screen and (max-width: 768px) {
  /* NAV */
  .nav-item a {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .navbar-brand img {
    width: 60px; }
  /* INDEX */
  .carousel {
    width: 90%; }
  .carousel-item {
    height: 220px; }
  .textoPrincipal {
    font-size: 30px; }
  .contenedor {
    flex-direction: column;
    align-content: center;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
  .contenedorIndex {
    align-content: center;
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; }
  .textoContenedor {
    font-size: 17px; }
  /* TRATAMIENTOS */
  .tituloTratamientos {
    padding-top: 4rem; }
  .d-grid {
    grid-template-columns: repeat(4, 1fr); }
  .item img {
    height: 260px; }
  .item.square.effect .info h3, .item.square.effect .info .imagenFija a > p, .imagenFija .item.square.effect .info a > p {
    font-size: 16px;
    margin: 180px 0 0 0; }
  .botonWsp {
    margin: 5% 8%; }
  .botonCita {
    font-size: 14px; }
  .imgWp {
    height: 30px;
    width: 30px; }
  /* PRODUCTOS */
  .contenedorLineas {
    padding-top: 8%; }
  .imagenContenedor {
    height: 80%; }
  /* INFORMACIÓN */
  .mainMicaela {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "infoMicaela"  "imagenMicaela";
    gap: 10px;
    width: 85%; }
  .contenedorMicaela {
    font-size: 15px;
    padding-top: 20px; }
  .infoMicaela {
    justify-content: center; }
  /* CONTACTO */
  .datos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr;
    grid-template-areas: "informacion" "mapa";
    align-items: center;
    justify-items: center;
    gap: 5px; }
  iframe {
    width: 90%;
    height: 320px; }
  .containerInfo {
    grid-area: informacion;
    flex-direction: column;
    margin: 5% 5% 0 5%; } }

@media only screen and (max-width: 767px) {
  /* NAV */
  .nav-item a {
    border: 1px solid #909090;
    margin: 8px; }
  .navbar-toggler-mobile {
    display: block;
    margin: 0 30px; }
  .navbar-collapse {
    min-height: 400px;
    padding: 12% 0; } }

@media only screen and (max-width: 550px) {
  /*NAV */
  .navbar-brand img {
    width: 50px; }
  .imagenFija h3, .imagenFija a > p {
    padding-top: 20%; }
  .imagenFija a > p {
    padding-top: 0; }
  /* INDEX */
  .textoPrincipal {
    font-size: 28px; }
  .carousel {
    width: 90%; }
  .captionCenter {
    font-size: 15px; }
    .captionCenter p {
      margin: 5px 10px auto 10px; }
  /* TRATAMIENTOS */
  .d-grid {
    grid-template-columns: repeat(3, 1fr); }
  .item img {
    height: 250px; }
  /* PRODUCTOS */
  .productoContenedor {
    width: 200px;
    height: 230px; }
  .imagenContenedor {
    height: 75%; }
  .textoProducto {
    font-size: 13px; }
  /* INFORMACIÓN */
  .mainMicaela {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: "infoMicaela" "imagenMicaela"; }
  .infoMicaela {
    padding-top: 15%; }
  .diplomasImg div > img {
    height: 125px; }
  /* CONTACTO */
  .containerInfo {
    font-size: 15px; }
  .containerInfo {
    margin-top: 8%; }
  /* FOOTER */
  .copyright {
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px; } }

@media only screen and (max-width: 450px) {
  /* INDEX */
  .carousel-item {
    height: 260px; }
  .captionCenter {
    font-size: 14px;
    height: 240px; }
  .textoPrincipal {
    font-size: 26px; }
  .contenedorIndex {
    height: 380px; }
  .textoContenedor {
    font-size: 14px; }
  .diplomasImg div > img {
    height: 180px; }
  /* TRATAMIENTOS */
  .d-grid {
    grid-template-columns: repeat(2, 1fr); }
  .item img {
    height: 240px; }
  .diplomasImg div > img {
    height: 160px; }
  /* PRODUCTOS */
  .productoContenedor {
    width: 180px;
    height: 210px; }
  .textoProducto {
    font-size: 12px; }
  /* CONTACTO */
  .containerInfo {
    margin-top: 15%; } }

@media only screen and (max-width: 300px) {
  .imagenFija h3, .imagenFija a > p {
    padding-top: 30%; }
  .imagenFija a > p {
    padding-top: 0; } }

.body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }
  .body ::selection {
    background-color: #3f1b2f56; }
