$colorTextoDark: #141414 ;
$colorTextoLight: #ffffff;
$colorTextoFooter: #b5b4b4;

$color-bg: #ffffff;
$color-bgFooter: #040404;
$colorSecundario: #3F1B2F; 
$colorSecundario-hover:#562540;

$font: 'Montserrat', sans-serif; 
$fontSecundaria:"Roboto Slab", serif;
