@import "variables"; 
@import "reset";
@import "header";
@import "footer";
@import "index";
@import "tratamientos";
@import "informacion";
@import "productos";
@import "contacto";
@import "mediaquery";

.body{
    background-color: $color-bg;
    font-family: $font;
    font-size: 16px;
    ::selection{
        background-color: #3f1b2f56;
    }
}